.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.main div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--platinum);
    width: 70%;
    text-align: center;
}

.mainMsg {
    font-family: 'Righteous';
    font-size: 65px;
    height: 260px;
}

.name {
    font-family: 'Righteous';
    font-size: 50px;
    height: 150px;
}

.invitation {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    height: 100px;   
}